// font
$main-font: 'Lato', sans-serif;

// colors
$main-color: white;

// bg colors
$header-bg-color: rgb(0, 32, 44) ;
$main-bg-color: rgb(0, 37, 54) ;
$album-box-bg-color: rgb(0, 13, 19);

// fonts weight 
$main-font-weight: 700;
$light-font-weight: 400;